@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body {
  background-color: #4a1a97;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}
h1 {
  display: inline-block;
  margin-right: 15px;
}
h3 {
  letter-spacing: 0px;
}
#container {
  width: 75%;
  margin: 0 auto;
}
html,
button,
input,
select,
textarea,
.pure-g [class*="pure-u"] {
  /* Set your content font stack here: */
  font-family: 'Open Sans', sans-serif;
}
.button-success,
.button-error,
.button-warning,
.button-secondary .button-add {
  color: #fff;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  margin: 5px;
}
.button-add {
  background-color: #ffdb4c;
  color: #333;
  margin: 5px;
}
.button-success {
  background: #e26535;
  margin: 0;
}
.button-error {
  background: #d2734e;
}
.button-warning {
  background: #df7514;
}
.button-secondary {
  background: rgba(108, 67, 223, 0.55);
}
.button-xsmall {
  font-size: 50%;
}
.button-small {
  font-size: 85%;
}
.button-large {
  font-size: 110%;
}
.button-xlarge {
  font-size: 150%;
}
input {
  margin-right: 10px;
}
.pure-form legend {
  color: #fff;
  border-bottom: none;
}
table th {
  background-color: #ffdb4c;
  color: #333;
}
table#game {
  border: none;
  background-color: #fff;
  color: #333;
}
table#game tr {
  border-bottom: 1px solid #ccc;
}
img.avatar {
  width: 50px;
  height: 50px;
}
#arrows {
  display: inline-block;
  padding-top: 15px;
}
i {
  margin: 5px;
}
i:hover {
  color: #ffdb4c;
}
.horizontal {
  background-color: #bcacd9 !important;
}
.vertical {
  background-color: #f9eabb !important;
}
#dice {
  margin: 20px 0px 10px 0px;
}
#dice img.dice {
  margin-right: 10px;
  border-radius: 3px;
  width: 50px;
  height: 50px;
}
#dice img.frozen {
  opacity: 0.5;
}
